.usin {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  cursor: default;
  z-index: 1000; }
  .usin:after {
    content: "";
    background-image: url("/img/usin_svg/arrows.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
    opacity: 0.9; }
  .usin .one {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    top: 2px;
    left: 74px; }
    .usin .one_caption {
      line-height: 1.5;
      position: absolute;
      top: 18px;
      text-shadow: 1px 1px 2px white, 0 0 2em white; }
      .usin .one_caption_line {
        transform: rotate(-45deg) scaleY(1) scaleX(20);
        position: absolute;
        top: 0px;
        left: 140px; }
      .usin .one_caption_one {
        transform: rotate(-45deg);
        position: absolute;
        top: -20px;
        left: 100px;
        font-size: 0.8em;
        font-weight: 600; }
      .usin .one_caption_two {
        transform: rotate(-45deg);
        position: absolute;
        top: 4px;
        left: 128px;
        font-size: 0.8em;
        font-weight: 600; }
    .usin .one_one {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: -50px;
      left: 139px;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .one_one:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
    .usin .one_two {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: -27px;
      left: 90px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .one_two:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
    .usin .one_three {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: -27px;
      left: 184px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .one_three:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
  .usin .five {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    top: 55px;
    left: 1px; }
    .usin .five_caption {
      line-height: 1.5;
      position: absolute;
      top: 88px;
      left: 25px;
      text-shadow: 1px 1px 2px white, 0 0 1em white; }
      .usin .five_caption_line {
        transform: rotate(-45deg) scaleY(1) scaleX(20);
        position: absolute;
        top: 0px; }
      .usin .five_caption_one {
        transform: rotate(-45deg);
        position: absolute;
        top: -25px;
        left: -38px;
        font-size: 0.8em;
        font-weight: 600; }
      .usin .five_caption_two {
        transform: rotate(-45deg);
        position: absolute;
        top: 8px;
        left: -10px;
        font-size: 0.8em;
        font-weight: 600; }
    .usin .five_one {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: 55px;
      left: -9px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .five_one:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
    .usin .five_two {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: 55px;
      left: 70px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .five_two:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
  .usin .two {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    top: 57px;
    right: 3px; }
    .usin .two_caption {
      line-height: 1.5;
      position: absolute;
      text-shadow: 1px 1px 2px white, 0 0 1em white;
      left: 277px;
      top: 78px; }
      .usin .two_caption_line {
        transform: rotate(-45deg) scaleY(1) scaleX(20);
        position: absolute;
        top: 0px;
        left: -3px; }
      .usin .two_caption_one {
        transform: rotate(-45deg);
        position: absolute;
        top: -14px;
        left: -40px;
        font-size: 0.8em;
        font-weight: 600; }
      .usin .two_caption_two {
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
        left: -24px;
        font-size: 0.8em;
        font-weight: 600; }
    .usin .two_one {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: 55px;
      right: 77px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .two_one:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
    .usin .two_two {
      font-size: 1.5em;
      display: block;
      position: absolute;
      top: 55px;
      right: -10px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .two_two:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
  .usin .four {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    bottom: 9px;
    left: 25px; }
    .usin .four_caption {
      line-height: 1.5;
      position: absolute;
      width: 50px;
      bottom: 37px;
      left: 55px;
      text-shadow: 1px 1px 2px white, 0 0 1em white; }
      .usin .four_caption_line {
        transform: rotate(-45deg) scaleY(1) scaleX(20);
        position: absolute;
        bottom: 0px; }
      .usin .four_caption_one {
        transform: rotate(-45deg);
        position: absolute;
        bottom: 7px;
        left: -65px;
        font-size: 0.8em;
        font-weight: 600; }
      .usin .four_caption_two {
        transform: rotate(-45deg);
        position: absolute;
        bottom: -20px;
        left: -15px;
        font-size: 0.8em;
        font-weight: 600; }
    .usin .four_one {
      font-size: 1.5em;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 20px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .four_one:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
    .usin .four_two {
      font-size: 1.5em;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 94px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .four_two:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
  .usin .three {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 31px; }
    .usin .three_caption {
      line-height: 1.5;
      position: absolute;
      top: 236px;
      left: 245px;
      text-shadow: 1px 1px 2px white, 0 0 1em white; }
      .usin .three_caption_line {
        transform: rotate(-45deg) scaleY(1) scaleX(20);
        position: absolute;
        top: 0px; }
      .usin .three_caption_one {
        transform: rotate(-45deg);
        position: absolute;
        top: -25px;
        left: -54px;
        font-size: 0.8em;
        font-weight: 600; }
      .usin .three_caption_two {
        transform: rotate(-45deg);
        position: absolute;
        top: 0px;
        left: -14px;
        font-size: 0.8em;
        font-weight: 600; }
    .usin .three_one {
      font-size: 1.5em;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 184px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .three_one:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
    .usin .three_two {
      font-size: 1.5em;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 20px;
      cursor: pointer;
      max-width: 1em;
      max-height: 1em;
      overflow: hidden;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out; }
      .usin .three_two:hover {
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.95); }
  .usin .arrow_shere {
    background-image: url("/img/usin_svg/arrow_shere.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px; }
  .usin .arrow {
    background-image: url("/img/usin_svg/arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 470px;
    height: 400px; }

@media (min-width: 768px) {
  .table-responsive {
    float: left; }

  .usin {
    margin: 50px;
    float: right; } }
@media (max-width: 768px) {
  .table-responsive {
    float: none; }

  .usin {
    margin: 55px auto;
    float: none; } }

/*# sourceMappingURL=usin.css.map */
